body{
    background: url("/images/background.jpg");
    font-family: Arial, Helvetica, sans-serif;

}
.regform{
    font-size: 30px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.555);
    margin: 250px auto;
    padding: 5px 20px 30px;
    border: 2px solid rgb(0, 255, 242);
    border-radius: 20px ;
}
.regform h3{
    color: #081c15;
    text-align: center;
   
}
.regform .textlabel{
    display: block;
    color: #3c096c;
}

.input input{
    width: 100%;
    font-size: 1.2em;
    border: 2px solid green;
    border-radius: 10px;
    padding: 10px 10px;
    box-sizing: border-box;
    margin-top: px;
    margin-bottom: 15px;
    
}
.radio input{
    accent-color:  rgb(6, 21, 28);
    transform: scale(1.5);
    margin-inline: 10px;
}

input:focus{
    background-color: rgba(43, 220, 226, 0.326);
}

.reg button{
    text-align: center;
    font-size: 30px;
    background-color: rgb(215, 239, 250);
    margin-top: 15px;
    margin-bottom: 5px;
    margin-inline: 190px; 
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}